
::-webkit-scrollbar {
    width: 0.6vw;
}

/* ::-webkit-scrollbar-track {
    background-color: var(--track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--thumb-hover-color);
} */

::selection {
    background-color: red;
    color: #fff;
}

::-moz-selection {
    background-color: var(--main-color-2);
    color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scrollbar-width: thin;
    /* scrollbar-color: var(--thumb-color) var(--track-color); */
}

@media (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

body {
    background-color: #1e1e2c;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    user-select: none;
}